@font-face {
  font-family: 'slider-btn';
  src:
    url('../fonts/slider-btn.ttf?cmigzm') format('truetype'),
    url('../fonts/slider-btn.woff?cmigzm') format('woff'),
    url('../fonts/slider-btn.svg?cmigzm#slider-btn') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="button-"]::before, [class*=" button-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'slider-btn' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button-btnleft:before {
  content: "\e900";
}
.button-left .path1:before {
  content: "\e901";
  color: rgb(245, 56, 56);
}
.button-left .path2:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.button-right .path1:before {
  content: "\e903";
  color: rgb(245, 56, 56);
}
.button-right .path2:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.button-right-deactive:before {
  content: "\e905";
}
